<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Please wait..</title>
</head>
<body>
  <p id='var' style='display:none;'>{{var}}</p>
  <p id='token' style='display:none;'>{{token}}</p>
  <p id="action" style='display:none;'>{{action}}</p>
  <p id="origin" style='display:none;'>{{origin}}</p>
</body>

<!-- Dynamically-loaded script -->
<script src='/js/{{action}}.js'></script>

</html>